/*
 * Skin: WebusAdmin
 * ----------
 */
html, body{
  padding:0px;
  margin:0px;
  height:100%;
  font-family: Roboto,sans-serif;
  font-size: 14px;
  line-height: 1.57142857;
  color: #76838f;
  background-color: #fff;
}
.skin-voyager .main-header .navbar {
  background-color: #fff;
  border-bottom:1px solid #f1f1f1;
}
.skin-voyager .main-header .navbar .nav > li > a {
  color: #212936;
}
.skin-voyager .main-header .navbar .nav > li > a:hover,
.skin-voyager .main-header .navbar .nav > li > a:active,
.skin-voyager .main-header .navbar .nav > li > a:focus,
.skin-voyager .main-header .navbar .nav .open > a,
.skin-voyager .main-header .navbar .nav .open > a:hover,
.skin-voyager .main-header .navbar .nav .open > a:focus,
.skin-voyager .main-header .navbar .nav > .active > a {
  background: rgba(0, 0, 0, 0.05);
  color: #212936;
}
.skin-voyager .main-header .navbar .sidebar-toggle {
  color: #212936;
}
@media (max-width: 767px) {
  .skin-voyager .main-header .navbar .dropdown-menu li.divider {
    background-color: rgba(255, 255, 255, 0.1);
  }
  .skin-voyager .main-header .navbar .dropdown-menu li a {
    color: #fff;
  }
  .skin-voyager .main-header .navbar .dropdown-menu li a:hover {
    background: #367fa9;
  }
}
.skin-voyager .main-header .logo {
  background-color: #212936;
  color: #ffffff;
  border-bottom: 0 solid transparent;
}
.skin-voyager .main-header .logo:hover {
  background-color: #212936;
}
.skin-voyager .main-header li.user-header {
  background-color: #212936;
}
.skin-voyager .content-header {
  background: transparent;
}
.skin-voyager .wrapper,
.skin-voyager .main-sidebar,
.skin-voyager .left-side {
  background-color: #1B1E24;
}
.skin-voyager .user-panel > .info,
.skin-voyager .user-panel > .info > a {
  color: #fff;
}
.skin-voyager .sidebar-menu > li.header {
  color: #4b646f;
  background: #1a2226;
}
.skin-voyager .sidebar-menu > li > a {
  border-left: 3px solid transparent;
}
.skin-voyager .sidebar-menu > li:hover > a,
.skin-voyager .sidebar-menu > li.active > a {
  color: #ffffff;
  background: #1e282c;
  border-left-color: #3c8dbc;
}
.skin-voyager .sidebar-menu > li > .treeview-menu {
  margin: 0 1px;
  background: #2c3b41;
}
.skin-voyager .sidebar a {
  color: #b8c7ce;
}
.skin-voyager .sidebar a:hover {
  text-decoration: none;
}
.skin-voyager .treeview-menu > li > a {
  color: #8aa4af;
}
.skin-voyager .treeview-menu > li.active > a,
.skin-voyager .treeview-menu > li > a:hover {
  color: #ffffff;
}
.skin-voyager .sidebar-form {
  border-radius: 3px;
  border: 1px solid #374850;
  margin: 10px 10px;
}
.skin-voyager .sidebar-form input[type="text"],
.skin-voyager .sidebar-form .btn {
  box-shadow: none;
  background-color: #374850;
  border: 1px solid transparent;
  height: 35px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.skin-voyager .sidebar-form input[type="text"] {
  color: #666;
  border-top-left-radius: 2px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 2px;
}
.skin-voyager .sidebar-form input[type="text"]:focus,
.skin-voyager .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  background-color: #fff;
  color: #666;
}
.skin-voyager .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  border-left-color: #fff;
}
.skin-voyager .sidebar-form .btn {
  color: #999;
  border-top-left-radius: 0;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 0;
}
.skin-voyager.layout-top-nav .main-header > .logo {
  background-color: #22262E;
  color: #ffffff;
  border-bottom: 0 solid transparent;
}
.skin-voyager.layout-top-nav .main-header > .logo:hover {
  background-color: #3b8ab8;
}

/*
* End Skin: Voyager
* ----------
*/

.alert .close{
  position: relative;
  right: -31px;
  top: -16px;
  padding: 13px;
  background: #333;
  border-radius: 2px;
}

.page-login-v2:before {
  background: url('../images/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: -200px !important;
}

.page-login-v2 .page-brand-info .brand-img{
  width:100px;
}

@media (max-width: 767px){

  .page-login-v2 .page-login-main .brand{
    text-align:center;
  }

  .page-login-v2 .page-login-main .brand-text{
    margin-left: 0;
    font-weight: lighter;
    color: #777;
  }

  .page-login-v2 .page-login-main .brand-img{
    width:100px;
  }

}

.page-login-v2 .page-login-main{
  padding:250px 60px 180px;
}

#login-container{
  position: absolute;
  right: 0;
  top: 0;
  width:420px;
  height:100%;
  background:#fff;
}

.login-box, .register-box{
  position: absolute;
  top:50%;
  margin-top:-250px;
  margin-left:30px;
  margin-right:30px;
}

.login-box img{
  width:50px;
  height:50px;
  margin:0px auto;
  display:block;
  -webkit-animation: spinnerRotate 900ms ease-out both;
  animation: spinnerRotate 900ms ease-out both;
}

.main-header .logo .logo-mini img{
  width:25px;
  height:25px;
}

.main-header .logo .logo-lg img{
  width:25px;
  height:25px;
  margin-right:5px;
  position:relative;
  top:-1px;
}

.main-footer{
  background:#F1F5FA;
  border-top:1px solid #f9f9f9;
  font-size:11px;
}

.login-box-body .form-control-feedback, .register-box-body .form-control-feedback{
  color:#ddd;
}

.form-control{
  border-radius:3px;
}

.form-control.json{
  border:2px solid #ddd;
  border-radius:1px;
}

.content-header a.btn{
  margin-left:10px;
}

.content-header i{
  margin-right:3px;
}

.app-container .side-body{
  margin-left: 45px;
}

.navbar .navbar-nav > li > a{
  font-family: 'Roboto', sans-serif;
  text-transform: capitalize;
}
.app-container .content-container .side-body.padding-top{
  padding-top:62px;
}

.breadcrumb{
  margin-bottom: 0;
  float: left;
  margin-top: 11px;
}

.content-header>.breadcrumb{
  border:1px solid #f1f1f1;
  position:relative;
  top:0px;
  left:0px;
  width:100%;
  display:block;
  margin:10px auto;
}

.breadcrumb>.active{
  color:#58595f;
  line-height:24px;
}

.callout{
  font-size:14px;
}

.content-wrapper{
  background:#fff;
}

table.dataTable{
  margin-top:0px !important;
}

table a.btn-sm{
  text-decoration:none;
}

.btn-sm i{
  position:relative;
  top:1px;
  font-size:12px;
}

#dashboard_bg{
  width:100%;
  height:100px;
  background: url('../images/dashboard-bg.jpg');
  background-size:cover;
  position:absolute;
  top:0px;
  left:0px;
  background-position-y: bottom;
  line-height:100px;
  color: #fff;
}

#dashboard_bg p{
  left:20px;
  position:relative;
}

#dashboard_top_padding{
  height:70px;
  width:100%;
  display:block;
}

.delete, .edit{
  margin-left:5px;
  cursor:pointer;
}

.user-panel .text-info{
  color:#3B3E44;
}

/********** End Hamburger Btn ************/

.spinnerRotate {
  -webkit-animation: spinnerRotate 900ms ease-out both;
  animation: spinnerRotate 900ms ease-out both;
}

@keyframes spinnerRotate
{
  0% {
    transform: scale(0.7) rotate(0deg);
    opacity: 0.0;
  }
  100% {
    transform: scale(1) rotate(270deg);
    opacity: 1;
  }
}

@-webkit-keyframes spinnerRotate
{
  0% {
    -webkit-transform: scale(0.7) rotate(0deg);
    opacity: 0.0;
  }
  100% {
    -webkit-transform: scale(1) rotate(270deg);
    opacity: 1;
  }
}
@-moz-keyframes spinnerRotate
{
  0% {
    -moz-transform: scale(0.7) rotate(0deg);
    opacity: 0.0;
  }
  100% {
    -moz-transform: scale(1) rotate(270deg);
    opacity: 1;
  }
}
@-ms-keyframes spinnerRotate
{
  0% {
    -ms-transform: scale(0.7) rotate(0deg);
    opacity: 0.0;
  }
  100% {
    -ms-transform: scale(1) rotate(270deg);
    opacity: 1;
  }
}


/********** TINY MCE Edits **********/

.mce-window.mce-in{
  border-radius:2px;
}

p#the_plugin_name{
  display:none !important;
}

/********** End Tiny MCE Edits **********/

.app-container .content-container .side-menu .navbar-nav li a .icon{
  margin-top: 2px;
  font-size: 18px;
}

.flat-blue .side-menu.sidebar-inverse .navbar li.active > a .icon{
  margin-left:0px;
}

.app-container .content-container .side-menu .navbar-header .navbar-brand .icon {
  font-size: 26px;
  top: 3px;
  position: relative;
}

.app-container .content-container .side-menu .navbar-header .navbar-brand .logo-icon-container{
  width:60px;
  height:60px;
  display: inline-block;
  text-align:center;
}

.app-container .content-container .side-menu .navbar-header .navbar-brand img {
  width: 28px;
  height: 28px;
  position: relative;
  top:-1px;
  display:inline-block;
}

.app-container.expanded .content-container .side-menu .navbar-header .navbar-brand .title{
  position: relative;
  top:0px;
  left:4px;
  text-transform: none;
}

.page-content.dashboard{
  margin-top:360px;
}

.app-container .content-container .side-menu .navbar-header .navbar-brand .title{
  text-transform: uppercase;
  position:relative;
  top:0px;
  left:4px;
}

.app-container .content-container .side-menu .navbar-nav li a .title{
  position:relative;
  top:-4px;
}

.flat-blue .side-menu.sidebar-inverse .navbar li.active > a{
  color: #fff;
  background: none;
  border:0px;
}

.flat-blue .side-menu.sidebar-inverse .navbar li > a {
  color: #76838f;
}

.flat-blue .side-menu.sidebar-inverse .navbar{
  background:none;
}

.flat-blue .side-menu.sidebar-inverse{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#353d47+0,21292e+100 */
  background: rgb(53,61,71);
  background: -moz-linear-gradient(45deg, rgba(53,61,71,1) 0%, rgba(33,41,46,1) 100%);
  background: -webkit-linear-gradient(45deg, rgba(53,61,71,1) 0%,rgba(33,41,46,1) 100%);
  background: linear-gradient(45deg, rgba(53,61,71,1) 0%,rgba(33,41,46,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#353d47', endColorstr='#21292e',GradientType=1 );
  overflow-x: hidden;
}

.flat-blue .side-menu.sidebar-inverse .navbar li > a:hover{
  color: #fff;
  background: #2A363B;
}

/**** HAMBURGER MENU **********/

.hamburger{
  float:left;
  width:30px;
  height:30px;
  position:relative;
  padding:30px;
  cursor:pointer;
  opacity:1;
  transition:opacity 0.2s ease;
}

.hamburger:hover{
  opacity:0.7;
  transition:opacity 0.2s ease;
}

.hamburger-inner{
  width:20px;
  height:2px;
  background:#76838F;
  display:block;
  border-radius:10px;
  top:50%;
  left:50%;
  margin-left:-10px;
  margin-top:-1px;
  position:absolute;
  transition:opacity 0.6s ease;
}

.hamburger-inner:after{
  width:20px;
  height:2px;
  background:#76838F;
  display:block;
  border-radius:10px;
  position:absolute;
  bottom:-5px;
  content:'';
  transition: bottom .1s ease,-webkit-transform .15s .1s cubic-bezier(.295,.03,.685,.22);
  transition: bottom .1s ease,transform .15s .1s cubic-bezier(.295,.03,.685,.22);
  transition: bottom .1s ease,transform .15s .1s cubic-bezier(.295,.03,.685,.22),-webkit-transform .15s .1s cubic-bezier(.295,.03,.685,.22);
}

.hamburger-inner:before{
  width:20px;
  height:2px;
  background:#76838F;
  display:block;
  border-radius:10px;
  position:absolute;
  content:'';
  top:-5px;
  transition: bottom .1s ease,-webkit-transform .15s .1s cubic-bezier(.295,.03,.685,.22);
  transition: bottom .1s ease,transform .15s .1s cubic-bezier(.295,.03,.685,.22);
  transition: bottom .1s ease,transform .15s .1s cubic-bezier(.295,.03,.685,.22),-webkit-transform .15s .1s cubic-bezier(.295,.03,.685,.22);
}

.hamburger.is-active .hamburger-inner:before{
  -webkit-transform: translate3d(-5px,1px,0) rotate(-45deg) scaleX(.5);
  transform: translate3d(-5px,1px,0) rotate(-45deg) scaleX(.5);
}

.hamburger.is-active .hamburger-inner:after{
  -webkit-transform: translate3d(-5px,-1px,0) rotate(45deg) scaleX(.5);
  transform: translate3d(-5px,-1px,0) rotate(45deg) scaleX(.5);
}

#sidebar-anchor {
  position: absolute;
  top: -50px;
  margin-right: 10px;
  padding: 20px 10px 9px;
  cursor: pointer;
  font-size: 20px;
  float: left;
  text-shadow: 2px 2px #FFF;
  color: #CCC !important;
}
#sidebar-anchor.active {
  color: #76838f !important;
  text-decoration: underline;
}
#sidebar-anchor:hover {
  color: #76838f !important;
}
.expanded #sidebar-anchor {
  position: relative;
  top: 0px;
  transition: top .3s ease, color .2s;
  left: -10px;
  text-decoration: none;
}

#voyager-loader{
  background:#F9F9F9;
  position:fixed;
  width:100%;
  height:100%;
  left:0px;
  top:0px;
  z-index:99;
}

#voyager-loader img{
  width:100px;
  height:100px;
  position:absolute;
  top:50%;
  left:50%;
  margin-left:-50px;
  margin-right:-50px;
  -webkit-animation:spin 1s linear infinite;
  -moz-animation:spin 1s linear infinite;
  animation:spin 1s linear infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.flat-blue .navbar .navbar-nav .dropdown-menu, .flat-blue .navbar.navbar-default .navbar-nav .dropdown-menu{
  background-color:#fff;
}

.navbar .dropdown-menu.dropdown-menu-animated{
  display: block;
  padding: 1.5rem 1.75rem;
  visibility: hidden;
  border: 0 none;
  box-shadow: 0 0 4px 0 rgba(0,0,0,0.25);
  opacity: 0;
  transition: opacity .5s, transform .5s, visibility 0s .5s;
  transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  transform: scale3d(0.95, 0.95, 1) translate3d(0, -15px, 0);
  transform-origin: 100% 0;
  border-radius:4px;
  border: 0 none;
  box-shadow: 0 0 4px 0 rgba(0,0,0,0.25);
  background-color: #fff;
  background-clip: padding-box;
  width:250px;
  z-index:98;
  margin-right:5px;
  margin-top:5px;
}

.navbar .dropdown.profile .dropdown-menu{
  width:250px;
  padding: 18px;
  display: none;
  position: relative !important
}

.navbar .dropdown.profile .dropdown-menu h5, .navbar .dropdown.profile .dropdown-menu h6{
  float:left;
}

.navbar .dropdown.profile .dropdown-menu h6{
  margin-top: 0;
  font-weight: 200;
  width:115px;
  text-overflow: ellipsis;
  overflow:hidden;
}

.profile .dropdown-toggle img{
  width:30px;
  height:30px;
  border-radius:50%;
}

.navbar .dropdown.profile .dropdown-menu h5{
  float: left;
  margin-bottom: 5px;
  margin-top: 12px;
}


.dropdown-menu>li>a{
  display: block;
  padding: 10px 5px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  color: #777;
  white-space: nowrap;
  text-align: left;
  transition:color 0.3s ease;
}

.dropdown-menu>li>a i{
  position:relative;
  top:2px;
}

.dropdown-menu .divider{
  margin-top:20px;
  background-color:#f1f1f1;
}

.dropdown-menu>li:last-child>a{
  margin-bottom:10px;
}

.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover{
  background:none;
  color: #333;
  transition:color 0.3s ease;
}

.navbar .dropdown.profile .dropdown-menu .profile-body{
  padding-left:10px;
}

.navbar .open .dropdown-menu.dropdown-menu-animated {
  visibility: visible;
  opacity: 1;
  transition: opacity .5s, transform .5s;
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
}

.navbar .dropdown.profile .dropdown-menu li.profile-img img.profile-img{
  height: 60px;
  width: 60px;
  float:left;
  border-radius:50%;
  margin-right:10px;
}

.page-title .btn.btn-success{
  position:relative;
  left:15px;
  top:-1px;
}

.breadcrumb{
  padding: 8px 15px;
  list-style: none;
  background-color: #ffffff;
  border-radius: 25px;
  border: 0;
  position: relative;
  left: -10px;
  top: -1px;
}

.breadcrumb a{
  color:#22A7F0;
  font-family:'Roboto';
  font-weight:400;
}

.breadcrumb i{
  position:relative;
  top:2px;
}

.breadcrumb>.active, .breadcrumb>li{
  font-weight:400;
}

table.dataTable.no-footer{
  border: 1px solid #EAEAEA;
}

.site-footer-right{
  padding-right:20px;
}

.form-control{
  color: #76838f;
  background-color: #fff;
  background-image: none;
  border: 1px solid #e4eaec;
}

.form-control.focus, .form-control:focus {
  border-color: #62a8ea;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.input-sm {
  height: 32px;
  padding: 6px 13px;
  font-size: 12px;
  line-height: 1.5;
}

.flat-blue .panel.panel-warning .panel-heading {
  background-color: #F2A654;
  border-bottom:0px;
}

.flat-blue .panel.panel-primary .panel-heading{
  background-color:#62A8EA;
  border-bottom:0px;
}

.flat-blue .panel.panel-primary .panel-info, .flat-blue .panel.panel-info .panel-heading{
  background-color:#57C7D4;
  border-bottom:0px;
}

.panel-title {
  display: block;
  padding: 20px 30px;
  padding-left:15px;
  font-size: 18px;
  text-align:left;
}

.panel-footer{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fcfcfc+0,ffffff+100 */
  background: #fdfdfd; /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(252,252,252,1) 0%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(252,252,252,1) 0%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(252,252,252,1) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

}

.flat-blue .panel.panel-warning, .flat-blue .panel.panel-primary, .flat-blue .panel.panel-info{
  border:0px;
}

.flat-blue .pagination .active > a, .flat-blue .pagination .active > a:focus, .flat-blue .pagination .active > a:hover, .flat-blue .pagination .active span, .flat-blue .pagination .active > span:focus, .flat-blue .pagination .active > span:hover {
  z-index: 3;
  color: #fff;
  cursor: default;
  background-color: #62a8ea;
  border-color: #62a8ea;
  outline: none;
}

.pagination li>a:focus, .pagination li>a:hover, .pagination li>span:focus, .pagination li>span:hover{
  outline:none;
}

.panel-bordered>.panel-body {
  padding-top: 30px;
}

.panel {
  margin-bottom: 22px;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.btn-primary {
  color: #fff;
  background-color: #4b0082;
  border-color: #8a65a5;
  opacity:0.9;
}

.btn-primary.focus, .btn-primary:focus, .btn-primary:hover, .btn-primary:active {
  opacity:1;
}

.btn-danger {
  color: #fff;
  background-color: #f96868;
  border-color: #f96868;
}

.btn-danger.focus, .btn-danger:focus, .btn-danger:hover {
  background-color: #fa7a7a;
  border-color: #fa7a7a;
}

.widgets{
  display:flex;
  flex-direction:row;
  padding:0px;
}

.panel.widget{
  padding:30px;
  border:0px;
  border-radius:3px;
  flex:1;
  margin:10px;
}

.panel.widget.center{
  text-align:center;
}

.panel.widget .avatar{
  width: 100px;
  height: auto;
  border: 0 none;
  border-radius: 50%;
}

.panel.widget i{
  font-size: 60px;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  width: 100px;
  height: 100px;
  display: block;
  margin: 0 auto;
  color: #eee;
  line-height: 110px;
}

.panel.widget h4{
  color:#fff;
  font-weight:300;
  margin-top:20px;
  font-size:20px;
}

.panel.widget p{
  margin:30px 0;
  font-size:20px;
  font-size: 14px;
  line-height: 1.57142857;
  color: #DDD;
  display:block;
  max-height:65px;
  margin-bottom:0px;
}

.panel.widget .readm-link{
  margin-top:20px;
  color:#fff;
  text-decoration: underline;
}

.panel.widget .btn-primary{
  margin-top:20px;
}

.btn{
  padding: 6px 15px;
  font-size: 14px;
  line-height: 1.57142857;
  border-radius: 3px;
  -webkit-transition: border .2s linear,color .2s linear,width .2s linear,background-color .2s linear;
  -o-transition: border .2s linear,color .2s linear,width .2s linear,background-color .2s linear;
  transition: border .2s linear,color .2s linear,width .2s linear,background-color .2s linear;
  -webkit-font-smoothing: subpixel-antialiased;
}

.panel.widget.bgimage{
  background-size:cover;
  background-position:center center;
  position:relative;
}

.panel.widget .panel-content{
  z-index:9;
  position:relative;
}

.panel.widget .dimmer{
  background:rgba(45,53,61, 0.5);
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2d353d+0,2d353d+100&0.79+0,0.5+100 */
  background: -moz-linear-gradient(-45deg,  rgba(45,53,61,0.79) 0%, rgba(45,53,61,0.5) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg,  rgba(45,53,61,0.79) 0%,rgba(45,53,61,0.5) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg,  rgba(45,53,61,0.79) 0%,rgba(45,53,61,0.5) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c92d353d', endColorstr='#802d353d',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  opacity:1;
  transition:opacity 0.3s ease;
  position:absolute;
  left:0px;
  top:0px;
  width:100%;
  height:100%;
  border-radius:3px;
}

.panel.widget:hover .dimmer{
  opacity:0.9;
}

.side-menu .panel.widget .dimmer{
  border-radius:0px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#242c32+0,242c32+100&1+34,0+100 */
  background: -moz-linear-gradient(45deg,  rgba(36,44,50,1) 0%, rgba(36,44,50,1) 34%, rgba(36,44,50,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg,  rgba(36,44,50,1) 0%,rgba(36,44,50,1) 34%,rgba(36,44,50,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg,  rgba(36,44,50,1) 0%,rgba(36,44,50,1) 34%,rgba(36,44,50,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#242c32', endColorstr='#00242c32',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

.side-menu .navbar-header, .flat-blue .side-menu .navbar-header{
  float:none;
  margin-bottom:0px;
}

.side-menu .panel.widget{
  padding:8px 0;
  padding-bottom:6px;
  margin:0px;
  border-radius:0px;
}

.side-menu-container  .side-menu .panel.widget .dimmer{
  border-radius:0px;
}


.app-container  .side-menu .panel.widget p, .app-container  .side-menu .panel.widget h4, .app-container  .side-menu .panel.widget a {
  display:none;
}

.app-container  .side-menu .panel.widget p{
  font-size:12px;
  margin-top:0px;
}

.app-container  .side-menu .panel.widget .avatar{
  width: 40px;
  float:left;
  margin-left:10px;
  border:2px solid rgba(51,59,69, 0.5);
}

.app-container .side-menu .panel.widget h4 {
  float: left;
  display: block;
  position: absolute;
  left: 60px;
  top: -7px;
  width: 190px;
  text-align: left;
  opacity:0;
  transition:opacity 0.3s ease;
  margin-top: 17px;
  left: 56px;
  overflow: hidden;
  height: 26px;
}

.app-container.expanded .panel.widget h4 {
  opacity:1;
}

.app-container .side-menu:hover .panel.widget h4 {
  opacity:1;
}

.app-container .side-menu:hover .panel.widget .avatar{
  float:left;
  margin-left:10px;
  transition:none;
}

.app-container.expanded .fadetoblack {
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 800;
}

.dd .item_actions{
  z-index:9;
  position:relative;
  top:10px;
  right:10px;
}

.dd .item_actions .delete, .dd .item_actions .edit{
  cursor:pointer;
}

.dd .item_actions .edit{
  margin-right:5px;
}

.dd .dd-handle .url{
  font-weight:normal;
  margin-left:10px;
}

.modal-open .select2-container{
  z-index: 999999999 !important;
  width:100% !important;
}

.toggle-group .btn, .toggle-group .btn.btn-default{
  padding-bottom:0px;
  margin-top:0px;
  margin-bottom:0px;
  padding-top:5px;
}

.toggle-group span.btn, .toggle-group span.btn-default{
  margin-top:0px;
  margin-bottom:0px;
  line-height:20px;
}

.toggle.btn{
  margin-top:0px;
  height:30px !important;
  line-height:20px !important;
  margin-bottom:0px;
}

.delete-row{
  margin-top:0px;
  margin-bottom:0px;
  padding-bottom:4px;
}

.drag{
  text-align:center;
}

.drag i{
  font-size:20px;
  margin-top:5px;
  cursor:move;
  display:block;
  color:#A6B3BF;
}

.drag i:hover{
  color:#76838F;
}

.newTableRow.ui-sortable-helper{
  width:100%;
  border:1px solid #EAEAEA;
  border-top:0px;
  background:#fff;
  display: table;
}

.newTableRow{
  position:relative;
  width:100%;
}

.newTableRow td{
  position:relative;
}

.enum_val{
  display:none;
}

.enum_val input{
  width:auto;
}

#delete_builder_form{
  margin-left:10px;
  float:right;
}

.btn-outline{
  background:none;
  border:1px solid #ddd;
}

@media(min-width:800px){
  #table_info .modal-dialog{
    width:750px;
  }
}

#table_info .modal-title{
  padding-left:36px;
}

#table_info .modal-title i{
  font-size: 25px;
  position: absolute;
  left: 20px;
  top: 13px;
}

.database-tables .name{
  float:left;
  position:relative;
}

.database-tables .name a{
  float:left;
}

.database-tables tr .btn-default:hover{
  background:#ffffff;
}

.database-tables tr .btn-danger:hover{
  background:#f96868;
}

.database-tables tr .bread_actions{
  opacity:0.6;
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.database-tables tr:hover .bread_actions{
  opacity:1;
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.database-tables .bread_actions .edit {
  margin-left:0px;
  display:inline-block;
}

.database-tables .btn-default{
  border:1px solid #eeeeee;
}

.database-tables .bread_actions form .btn-default{
  border:1px solid #eeeeee;
}

.flat-blue .side-menu.sidebar-inverse .navbar li.dropdown .panel-body{
  padding:0px;
}

.flat-blue .alert{
  margin-right: 15px;
  margin-bottom: 5px;
  border-radius: 0;
  color: #fff;
  border: 0;
  border-left: 5px solid rgba(0, 0, 0, 0.1);
  border-color:rgba(0, 0, 0, 0.1);
  border-radius:3px;
  margin-bottom:30px;
}

.flat-blue .alert.alert-success{
  background-color: #55B559;
  color:#fff;
  border-color:rgba(0, 0, 0, 0.1);
}
.flat-blue .alert.alert-danger{
  background-color: #F55145;
  color:#fff;
  border-color:rgba(0, 0, 0, 0.1);
}
.flat-blue .alert.alert-warning{
  background-color: #FF9E0F;
  color:#fff;
  border-color:rgba(0, 0, 0, 0.1);
}
.flat-blue .alert.alert-info{
  background-color:#22A7F0;
  color:#fff;
  border-color:rgba(0, 0, 0, 0.1);
}

.flat-blue .panel-body .alert{
  margin-right:0px;
  margin-bottom:10px;
  margin-top:10px;
}


/********** CUSTOM RADIO BUTTON STYLES **********/

ul.radio{
  list-style: none;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}


ul.radio li{
  color: #AAAAAA;
  display: block;
  position: relative;
  float: left;
  width: 100%;
  height: auto;
  border-bottom: 1px dotted #f1f1f1;
}

ul.radio li input[type=radio]{
  position: absolute;
  visibility: hidden;
}

ul.radio li label{
  display: block;
  position: relative;
  font-weight: normal;
  font-size: 14px;
  padding-left: 40px;
  margin: 9px auto;
  height: 25px;
  z-index: 9;
  cursor: pointer;
  -webkit-transition: all 0.25s linear;
  margin-bottom: 5px;
}

ul.radio li:hover label{
  color: #535B65;
}

ul.radio li .check{
  display: block;
  position: absolute;
  border: 4px solid #AAAAAA;
  border-radius: 100%;
  height: 20px;
  width: 20px;
  top: 10px;
  left: 10px;
  z-index: 5;
  transition: border .25s linear;
  -webkit-transition: border .25s linear;
}

ul.radio li:hover .check {
  border: 4px solid #22A7F0;
}

ul.radio li .check::before {
  display: block;
  position: absolute;
  content: '';
  border-radius: 100%;
  height: 8px;
  width: 8px;
  top: 2px;
  left: 2px;
  margin: auto;
  transition: background 0.25s linear;
  -webkit-transition: background 0.25s linear;
}

input[type=radio]:checked ~ .check {
  border: 4px solid #22A7F0;
}

input[type=radio]:checked ~ .check::before{
  background: #22A7F0;
}

input[type=radio]:checked ~ label{
  color: #535B65;
}

/********** CUSTOM CHECKBOX BUTTON STYLES **********/

ul.checkbox {
  padding-left: 20px;
}

ul.checkbox li {
  margin-bottom: 20px;
}

ul.checkbox li ul li {
  margin-bottom: 0;
}


ul.checkbox label {
  padding-left: 0;
}

/********** END CUSTOM RADIO BUTTON STYLES **********/

.btn-success i.voyager-plus{
  position:relative;
  top:2px;
}

.show-res{
  margin-left: 5px;
  margin-top: 15px;
}

.alerts {
  padding: 10px 10px 0px 10px;
}

.alerts .alert {
  margin-right: 0px;
}

.alerts .alert>p,
.alerts .alert>ul {
  margin-top: 0;
}

.with_padding{
  padding-left:40px;
}

.webus-table thead{
  text-transform: capitalize;
}

.delete_in_form{
  margin-top: -51px;
  margin-left: 105px;
}

.change_langs{
  list-style-type: none;
  padding: 0;
  margin: 0;
  background: rgba(255, 255, 255, 0.18);
  overflow: hidden;
  display: inherit;
  /* max-width: 145px; */
  margin-bottom: 10px;
  /* width: 100%; */
  -webkit-box-shadow: 0 2px 4px rgba(0,0,0,.08);
  box-shadow: 0 2px 4px rgba(0,0,0,.08);
}

.change_langs li {
  float:left;
  color: #949494;
  /* font-weight: 400; */
  cursor: pointer;
  padding: 5px;
  text-transform: capitalize;
}

li.change_lang.active_lang {
  background: #22a7f0;
  color: #ffffff;
}

.required-field{
  color:#af3939;
}
.heading_field{
  font-size: 15px;
  border-left: 3px solid #d6d843;
  padding-left: 10px;
}

.repeatable  [class*="col-"]{
  margin-bottom:5px!important;
}

.repeatable .form-group{margin-bottom:0px!important;}
.remove-radius{
  border-radius: 0;
}

.background-repeatable-group{
  background: #f7f7f7;
  padding-top: 15px!important;
  margin-top: 10px!important;
  overflow: hidden;
}

.background-repeatable-group .heading_field{display: none!important;}

.handle_repeatable{
  cursor: move;
  font-size: 14px;
}

.module-name{
  font-size: 17px;
  border-left: 3px solid #d6d843;
  padding-left: 10px;
}

fieldset.modules.dd {
  padding:1px 40px;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
  vertical-align: middle;
  padding: 1px 8px;
}

.mass_delete{
  float: right;
  margin-left: 10px;
}
.selected_image{
  width:200px; height:auto; clear:both; display:block; padding:2px; border:1px solid #ddd; margin-bottom:10px;display: block!important;
}
.empty_image{
  display: none;
}



