/*Gallery*/
.place-photos {
	margin-top: 20px;
	padding: 0;
	/* height: 349px; */
}

.place-photos .list_image {
	display: inline-block;
	position: relative;
	width: 150px;
	text-align: center;
	height: 150px;
	overflow: hidden;
	margin-right: 10px;
	margin-bottom: 20px;
	line-height: 1.42857143;
	border-radius: 4px;
	-webkit-transition: border .2s ease-in-out;
	-o-transition: border .2s ease-in-out;
	transition: border .2s ease-in-out;
}

.place-photos .list_image:hover .remove-image-galery{
	visibility: visible;
}
.remove-image-galery {
	position: absolute;
	/* text-align: center; */
	left: 0;
	background: rgba(255, 255, 255, 0.89);
	height: 25px;
	width: 30px;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	bottom: 0;
	cursor: pointer;
	visibility: hidden;
}

.list_image img {
	/* width: 100%; */
	height: 100px;
	/* text-align: center; */
}

.btn-move{width: 100%;}

/*Other*/
.media-section .modal-footer{
	margin-top:0px;
}

.media-section .modal .modal-header .close{
	padding-bottom:2px;
}

.media-section .modal-content{
	border:0px;
}

.media-section .modal-header{
	background:#21A9E1;
}

.media-section #confirm_delete_modal .modal-header{
	background:#E14421;
}

.media-section #move_file_modal .modal-header{
	background:#FC9A24;
}

.media-section .modal-header h4{
	color:#fff;
}

.confirm_delete_name{
	color:#4DA7E8;
}

#move_btn{
	background:#FABE28;
	border:1px solid #FABE28;
}

/**************************************************/
/***				TOOLBAR CSS					***/
/**************************************************/

#toolbar{
	background:#E0E0E0;
	padding:20px;
	border-top-left-radius:3px;
	border-top-right-radius:3px;
}

#toolbar .btn{
	padding:8px 13px;
	font-size: 13px;
	border-radius:2px;
}

#toolbar .btn-group .btn{
	border-radius:0px;
}

#toolbar .btn-group .btn:first-child{
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
}

#toolbar .btn-group .btn:last-child{
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
}


#toolbar .btn-group .btn.btn-default:nth-child(2), #toolbar .btn-group .btn.btn-default:last-child{
	border-left:1px solid #CBCBCD;
}

#toolbar .btn-group .btn.btn-default:nth-child(2), #toolbar .btn-group .btn.btn-default:nth-child(1){
	margin-right:1px;
}

#toolbar .btn.btn-default:focus{
	background:#F0F0F1;
	border-color:#F0F0F1;
}

#toolbar .btn.btn-primary{
	background:#4DA7E8;
	border:1px solid #4DA7E8;
}

#toolbar .btn.btn-primary:hover{
	background:#2995E3;
}

#toolbar #refresh.btn{
	margin:0px 10px;
}

#toolbar i{
	position: relative;
	top: 2px;
}


/**************************************************/
/***				BREADCRUMB CSS				***/
/**************************************************/

.breadcrumb-container{
	position:relative;
}

.breadcrumb.filemanager{
	top:0px;
	background:#f0f0f0;
	border:1px solid #E0E0E0;
	border-bottom:0px;
	border-radius:0px;
	padding-left:20px;
	width: 100%;
	margin-top: 0;
	left: 0;
}

.breadcrumb.filemanager li{
	cursor:pointer;
	transition:color 0.1s linear;
	position:relative;
}

.breadcrumb.filemanager li:hover{
	color:#555;
}

.breadcrumb li .arrow{
	display: none;
	position: absolute;
	bottom: -14px;
	width: 12px;
	height: 12px;
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	background: #f0f0f0;
	left: 50%;
	border-right: 1px solid #efefef;
	border-bottom: 1px solid #efefef;
}

.select2-display-none{
	z-index:999999 !important;
}

.breadcrumb li:last-child .arrow{
	display:block;
}

.breadcrumb li:first-child .arrow{
	margin-left:-5px;
}

.breadcrumb li{
	color:#4DA7E8;
	cursor:pointer;
	font-weight:bold;
}

.breadcrumb li:last-child{
	color:#949494;
	cursor:pointer;
}

.breadcrumb-container .toggle{
	float: right;
	position: absolute;
	top: 11px;
	cursor: pointer;
	right: 5px;
	color: #bbb;
	transition: color 0.1s linear;
	overflow:visible;
}

.breadcrumb-container .toggle:hover{
	color:#aaa;
}

.breadcrumb-container .toggle span{

	font-size:9px;
	text-transform: uppercase;
	float:left;
	top:2px;
	position:relative;
	font-weight:bold;
	right:10px;
}
.breadcrumb-container .toggle i{
	font-size:18px;
	float:right;
	margin-right:5px;
	position:relative;
	top:-4px;
}



.nothingfound{
	display:none;
}
#filemanager{
	position:relative;
	min-height:200px;
}
#filemanager .loader{
	margin-top:25px;
}
#filemanager #content{
	display: block;
	background:#fff;
}

.flex{
	display:flex;
	flex-wrap: wrap;
	border:1px solid #E0E0E0;
	border-top:0px;
}

.flex #left{
	flex:4;
	position:relative;
	min-height:230px;
}

.flex #left #no_files{
	display:none;
}

.flex #left #no_files h3{
	text-align: center;
	margin-top: 55px;
	margin-bottom:75px;
	color:#949494;
}

.flex #right{
	flex:1;
	border-left:1px solid #f1f1f1;
}

#right .right_details{
	display:block;
}

#right .right_none_selected{
	display:none;
	text-align:center;
}

#right .right_none_selected i{
	width: 100%;
	text-align: center;
	font-size: 30px;
	margin-left: 0;
	padding: 50px;
	display:block;
	background: #f9f9f9;
}

#right .right_none_selected p{
	text-align: center;
	color: #bbb;
	padding: 10px;
	border-bottom: 1px solid #f1f1f1;
}

#files{
	display:flex;
	list-style:none;
	width:100%;
	margin:0px;
	padding:0px;
	flex-wrap:wrap;
	padding:10px;
	position:relative;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none;   /* Chrome/Safari/Opera */
	-khtml-user-select: none;    /* Konqueror */
	-moz-user-select: none;      /* Firefox */
	-ms-user-select: none;       /* Internet Explorer/Edge */
	user-select: none;
}
#files li{
	flex:1;
	width:100%;
	min-width:200px;
	max-width:250px;
}
#files li .file_link{
	background:#eee;
	padding:10px;
	margin:10px;
	cursor:pointer;
	border-radius: 3px;
	border: 1px solid #ecf0f1;
	overflow: hidden;
	background: #f6f8f9;
	display:flex;
}

#files li .file_link .details{
	flex:2;
	overflow:hidden;
	width:100%;
}

#files li .file_link .details small{
	font-size: 11px;
	position: relative;
	top: -3px;
}

#files li .file_link .link_icon{
	flex:1;
}

#files li .file_link img, #files li .file_link .img_icon{
	display:none;
}

#files li .file_link.image img, #files li .file_link.image .img_icon{
	display:block;
}

#files li .file_link.image img{
	height:50px;
}

#files li .file_link.image .img_icon{
	width:50px;
	height:50px;
	display:block;
}

#files li .file_link.selected, #files li .file_link:hover{
	background: #4da7e8 !important;
	border-color: #2581b8;
	color:#fff;
}

#files li .file_link.selected h4, #files li .file_link:hover h4{
	color:#fff;
}

#files li .details h4{
	margin-bottom:2px;
	margin-top:10px;
	max-height: 17px;
	height:17px;
	overflow: hidden;
	font-size:14px;
	text-overflow: ellipsis;
}

#files li .details.folder h4{
	margin-top:16px;
}

.file_link.folder i.icon{
	float:left;
	margin-left:10px;
}

.file_link.folder .num_items{
	display:block;
}

.file_link .link_icon{
	text-align: center;
	padding-left: 0;
	margin-left: 0;
	margin-right: 5px;
}

.file_link .link_icon i{
	padding-left:0px;
	padding-right:0px;
	position: relative;
	top: 5px;
}

.file_link i.icon:before{
	font-size:40px;
}


.detail_img{
	border-bottom:1px solid #f1f1f1;
	background:#eee;
}

.detail_img img{
	width:100%;
	height:auto;
	display:inline-block;
}

.detail_img i{
	display:block;
	width: 100%;
	text-align: center;
	font-size: 70px;
	margin-left: 0;
	padding: 30px;
	background: #f9f9f9;
}

.detail_img.folder i.fa-folder{
	display:block;
}


.detail_img.file i.fa-file{
	display:block;
}

.detail_img.image img{
	display:block;
}

.detail_info{
	padding:10px;
}

.detail_info .selected_file_count, .detail_info.folder .selected_file_size{
	display:none;
}

.detail_info.folder .selected_file_count{
	display:block;
}

.detail_info span{
	display:block;
	clear:both;
}

.detail_info a{
	color:#4DA7E8;
}

.detail_info .selected_file_count, .detail_info .selected_file_size{
	padding-top:0;
}

.detail_info h4{
	float:left;
	color:#bbb;
	margin:0;
	font-size:12px;
	margin-top:3px;
	margin-right:8px;
	padding-bottom:2px;
	font-weight:400;
}

.detail_info p{
	float:left;
	color:#444;
	padding-bottom:3px;
	font-size:12px;
	font-weight:400;
}

/********** file upload progress **********/

#filemanager .progress{
	border-radius:0;
	margin-bottom:0;
}

#uploadProgress{
	display:none;
	background:#eee;
}

/********** end file upload progress **********/

#file_loader{
	position:absolute;
	width:100%;
	height:100%;
	left:0;
	top:0;
	background: rgba(255, 255, 255, 0.7);
	z-index: 9;
	text-align:center;
}

#file_loader #file_loader_inner{
	width:60px;
	height:60px;
	position:absolute;
	top:50%;
	left:50%;
	margin-left:-30px;
	margin-top:-30px;

}

#file_loader img{
	width:80px;
	height:80px;
	margin-top:50px;
	opacity:0.5;
	-webkit-animation:spin 1.2s ease-in-out infinite;
	-moz-animation:spin 1.2s ease-in-out infinite;
	animation:spin 1.2s ease-in-out infinite;

}

#file_loader p{
	margin-top: 40px;
	position: absolute;
	text-align: center;
	width: 100%;
	top:50%;
	font-weight: 400;
	font-size: 12px;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
